@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  background: #1e2939;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
}

.wrapper {
  background: #f5f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  min-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
}

.sitebar {
  background: #1e2939;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.411);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.411);
  border-radius: 20px;
  width: 370px;
  min-height: 1240px;
  padding-bottom: 40px;
  margin: 20px;
}

.my-photo {
  width: 370px;
  height: 370px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.date {
  font-size: 20px;
}

.date-birthday {
  color: #000;
}

.about-me-container {
  padding: 65px;
}

/* CONTACTS */
.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  width: 102px;
  height: 15px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  color: #7b8ca7;
  text-decoration: none;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

/* TECH-SKILLS */
.tech-skills-title {
  margin-bottom: 17px;
  font-size: 22px;
  font-weight: 700px;
  line-height: 24px;
  color: #fff;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 58px;
}

.tech-skills-item {
  font-size: 14px;
  line-height: 24px;
  margin-left: 19px;
  color: #ff6b08;
}

.tech-skills-text {
  color: #b3b7bc;
}

/* SOFT-SKILLS */
.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 58px;
}

.soft-skills-title {
  margin-bottom: 17px;
  font-size: 22px;
  font-weight: 700px;
  line-height: 24px;
  color: #fff;
}

.soft-skills-item {
  font-size: 14px;
  line-height: 24px;
  margin-left: 19px;
  color: #ff6b08;
}

.soft-skills-text {
  color: #b3b7bc;
}

/* ABOUT ME */
.profession {
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  /* padding-top: 24px; */
}

.des_ots {
  margin-top: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-links {
  color: #737373;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

.tech-name {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.projects-item {
  font-weight: 700;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.281);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.281);
  background-color: #f5f7fa;
  position: relative;
}

.projects-item a {
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
  background-size: cover;
  border-radius: 20px;
}

.card-text {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  height: 50px;
}

.text-under-card {
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

.projects-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 220px 200px;
  grid-template-columns: 220px 220px 200px;
}

.projects-list li {
  border-radius: 20px;
  width: 190px;
  height: 280px;
  margin-bottom: 20px;
  padding: 20px;
}

.projects-container {
  margin-bottom: 55px;
}

.projects-container ul {
  list-style: none;
}

/* PROFFESION */
.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.prof-categories {
  color: #ff6b08;
}

.profession-date {
  color: #ababab;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.profession-divider {
  color: #000000;
}

.profession-duties {
  margin-top: 15px;
  margin-bottom: 30px;
}

.profession-dutes-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

a {
  list-style: none;
}

.universitet {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.management {
  margin-top: 11px;
  margin-bottom: 11px;
}

.name-second {
  display: none;
}

.about-me-none {
  display: none;
}

.projects-list-large {
  display: none;
}

img {
  border-radius: 20px;
}

.profession-state {
  color: #b4a49c;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */

.projects-item a img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

.techName {
  width: 111px;
  margin: 0 auto;
}

.techName-2 {
  margin: 0 auto;
  width: 145px;
}

.proffeci {
  font-weight: bold;
}
